@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=League+Spartan:wght@400;500;600;700&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap");

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: hsl(222, 26%, 31%);
  font-family: "League Spartan", sans-serif;
  transition: 0.3s;
}

* {
  box-sizing: border-box;
}

// start
.calc-container {
  width: 350px;
  margin: auto;
  .head {
    display: flex;
    color: white;
    justify-content: space-between;
    .text {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  .switcher {
    display: flex;
    align-items: center;
    gap: 15px;

    .title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 15px;
    }
    .theme {
      background-color: hsl(223, 31%, 20%);
      padding: 3px 5px;
      border-radius: 10px;
      display: flex;
      gap: 5px;
      cursor: pointer;
      position: relative;

      .this {
        cursor: pointer;
        background-color: transparent;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        position: relative;
        transition: 0.3s;
        &.active {
          background-color: hsl(6, 63%, 50%);
        }
        &::before {
          content: attr(data-number);
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translateX(-50%);
          font-weight: bold;
        }
        &.active {
          opacity: 1;
        }
      }
      .two {
        background-color: transparent;
        &.active {
          background-color: hsl(6, 63%, 50%);
        }
      }
      .three {
        background-color: transparent;
        &.active {
          background-color: greenyellow;
        }
      }
    }
  }

  .screen {
    background-color: hsl(224deg, 36%, 15%);
    color: white;
    text-align: end;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.3s;
    padding: 15px 15px;
    margin: 25px 0;
    border-radius: 5px;
  }

  .clac-keys {
    padding: 15px;
    background-color: hsl(223, 31%, 20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.3s;
    row-gap: 20px;
    border-radius: 10px;
    .key {
      transition: 0.3s;
      height: 50px;
      width: 70px;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
      background-color: hsl(30, 25%, 89%);
      border: none;
      border-radius: 5px;
      color: hsl(221, 14%, 31%);
      box-shadow: hsl(28, 16%, 65%) 0px 3px 0px;
      &:active {
        transform: scale(0.9);
      }
      &:hover {
        filter: brightness(1.2);
      }
    }
    .two-time {
      transition: 0.3s;
      width: 155px;
    }
    .del,
    .reset {
      background-color: hsl(225, 21%, 49%);
      box-shadow: hsl(224, 28%, 35%) 0px 3px 0px;
      transition: 0.3s;

      color: white;
    }
    .red {
      transition: 0.3s;
      background-color: hsl(6, 63%, 50%);
      box-shadow: hsl(6, 70%, 34%) 0px 3px 0px;

      color: white;
    }
  }
}

//theme 2

.calc-container.two {
  .head {
    transition: 0.3s;
    color: hsl(60, 10%, 19%);
  }
  .switcher {
    .theme {
      transition: 0.3s;
      background-color: hsl(0, 5%, 81%);
    }
  }
  .screen {
    background-color: hsl(0, 0%, 93%);
    transition: 0.3s;
    color: hsl(60, 10%, 19%);
  }

  .clac-keys {
    transition: 0.3s;
    background-color: hsl(0, 5%, 81%);
    .del,
    .reset {
      background-color: hsl(185, 42%, 37%);
      transition: 0.3s;
      box-shadow: hsl(185, 58%, 25%) 0px 3px 0px;
    }
  }
}

.calc-container.three {
  .head {
    transition: 0.3s;
    color: hsl(52, 100%, 62%);
  }
  .switcher {
    .theme {
      transition: 0.3s;
      background-color: hsl(268, 71%, 12%);
    }
  }
  .screen {
    background-color: hsl(268, 71%, 12%);
    transition: 0.3s;
    color: hsl(52, 100%, 62%);
  }

  .clac-keys {
    color: hsl(0, 0%, 93%);
    background-color: hsl(268, 71%, 12%);
    transition: 0.3s;

    .key {
      color: hsl(52, 100%, 62%);
      transition: 0.3s;
      background-color: #331b4d;
      box-shadow: hsl(290, 70%, 36%) 0px 3px 0px;
    }
    .del,
    .reset {
      color: white;
      transition: 0.3s;
      background-color: #56077c;
      box-shadow: hsl(290, 70%, 36%) 0px 3px 0px;
    }
    .equal {
      transition: 0.3s;
      background-color: hsl(176, 100%, 44%);
      box-shadow: hsl(177, 92%, 70%) 0px 3px 0px;
      color: hsl(281, 89%, 26%);
    }
  }
}
